<tbody>
<% @cars.each do |car| %>
  <tr>
    <td><%= car.make.name %></td>
    <td><%= car.model %></td>
    <td><%= car.vin %></td>
    <%  l = car.parts.map(&:name) %>
    <td><%= l.sort.join(", ") %></td>
    <td><%= link_to 'View', car_path(car) %></td>
    <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
      <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</tbody>